        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            height: 100vh;
            width: auto;
            background: rgb(75, 67, 168);
            background: linear-gradient(69deg, rgba(75, 67, 168, 1) 0%, rgba(36, 29, 121, 1) 58%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .wrapper {
            padding: 3rem;
            border-radius: .3rem;
            background-color: rgb(16, 13, 32);
            -webkit-box-shadow: -27px 35px 10px -17px rgba(3, 6, 103, 0.4);
            -moz-box-shadow: -27px 35px 10px -17px rgba(3, 6, 103, 0.4);
            box-shadow: -27px 35px 10px -17px rgba(3, 6, 103, 0.4);
        }
        
        .slider {
            width: 60rem;
            height: 35rem;
            overflow: hidden;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
        
        .wrapper-control {
            height: 5rem;
            width: 60rem;
            background-color: rgb(73, 75, 78);
            border-radius: 1rem;
            display: grid;
            grid-template-columns: 80% 20%;
            overflow: hidden;
        }
        
        .navigation {
            background-color: rgb(73, 75, 78);
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        
        .titles {
            height: 100%;
            width: 500%;
            display: flex;
            align-items: center;
        }
        
        .title {
            width: 20%;
            transition: all .9s ease;
            font-family: 'Roboto Mono', monospace;
            font-size: 1.7em;
            padding-left: 1rem;
            color: beige;
        }
        
        .bar {
            height: 2.2rem;
            width: 2.2rem;
            cursor: pointer;
        }
        
        .bullet {
            height: 1.3rem;
            width: 1.3rem;
            margin: 0.5rem;
            background-color: rgb(34, 29, 29);
            border: 0.3rem solid rgb(27, 25, 25);
            opacity: .5;
            border-radius: 0.8rem;
            transition: all .4s ease;
        }
        
        .bar:hover .bullet {
            background-color: rgba(221, 217, 210, 0.671);
            border: 0.2rem solid rgba(221, 217, 210, 0.671);
        }
        
        .bar:active .bullet {
            background-color: rgb(54, 28, 124);
        }
        
        input[name="r"] {
            visibility: hidden;
        }
        
        .slides {
            width: 500%;
            height: 100%;
            display: flex;
        }
        
        .slide {
            width: 20%;
            transition: all .6s ease;
        }
        
        .slide img {
            width: 100%;
            height: 100%;
        }
        
        #r1:checked~.wrapper .wrapper-control .navigation .bar .bullet1 {
            background-color: rgba(221, 217, 210, 0.671);
        }
        
        #r2:checked~.wrapper .wrapper-control .navigation .bar .bullet2 {
            background-color: rgba(221, 217, 210, 0.671);
        }
        
        #r3:checked~.wrapper .wrapper-control .navigation .bar .bullet3 {
            background-color: rgba(221, 217, 210, 0.671);
        }
        
        #r4:checked~.wrapper .wrapper-control .navigation .bar .bullet4 {
            background-color: rgba(221, 217, 210, 0.671);
        }
        
        #r5:checked~.wrapper .wrapper-control .navigation .bar .bullet5 {
            background-color: rgba(221, 217, 210, 0.671);
        }
        
        #r1:checked~.wrapper .slider .slides .s1,
        #r1:checked~.wrapper .wrapper-control .titles .t1 {
            margin-left: 0;
        }
        
        #r2:checked~.wrapper .slider .slides .s1,
        #r2:checked~.wrapper .wrapper-control .titles .t1 {
            margin-left: -20%;
        }
        
        #r3:checked~.wrapper .slider .slides .s1,
        #r3:checked~.wrapper .wrapper-control .titles .t1 {
            margin-left: -40%;
        }
        
        #r4:checked~.wrapper .slider .slides .s1,
        #r4:checked~.wrapper .wrapper-control .titles .t1 {
            margin-left: -60%;
        }
        
        #r5:checked~.wrapper .slider .slides .s1,
        #r5:checked~.wrapper .wrapper-control .titles .t1 {
            margin-left: -80%;
        }
        
        @media (max-width: 420px) {
            .wrapper {
                padding: 1rem;
                margin: 1rem;
            }
            .slider {
                width: 23rem;
                height: 13rem;
                overflow: hidden;
            }
            .wrapper-control {
                height: 4rem;
                width: 23rem;
                grid-template-columns: none;
                grid-template-rows: repeat(2, 1fr);
            }
            .navigation {
                grid-row: 1/2;
                justify-self: start;
                margin-left: 9rem;
            }
            .bullet {
                height: 0.8rem;
                width: 0.8rem;
                margin: 0.2rem;
                border: 0.1rem solid rgb(27, 25, 25);
            }
            .bar {
                height: 1rem;
                width: 1rem;
            }
            .title {
                font-size: 0.7em;
            }
        }